*{
  margin: 0;
  padding: 0;
}


.rojo {
  background-color: red;
  width: 50%;
  text-align: center;
  height: 50vh;
  float: left;
  & img{
    position: relative;
    top: 40%;

  }
}
.bg-azul{
  background-color: blue;
  & a {
    color: white;
    padding: 50px;
  }
}
.bg-verde{
  background-color: greenyellow ;
  & a {
    color: white;
    padding: 50px;
  }
}
.bg-amarillo{
  background-color: yellow ;
  & a {
    color: black;
    padding: 50px;
  }
}
.bg-rojo{
  background-color: red ;
  & a {
    color: black;
    padding: 50px;
  }
}

.azul {
  background-color: blue;
  width: 50%;
  text-align: center;
  height: 50vh;
  float: left;
  & img{
    position: relative;
    top: 40%;

  }
  
}
.verde {
  background-color: greenyellow;
  width: 50%;
  text-align: center;
  height: 50vh;
  float: left;
  & img{
    position: relative;
    top: 40%;

  }
  
}
.amarillo {
  background-color: yellow;
  width: 50%;
  text-align: center;
  height: 50vh;
  float: left;
  & img{
    position: relative;
    top: 40%;

  }

}
.disbabled {
  background-color: transparent;
  width: 50%;
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.rojo-main{
  background-color: red;
  width: 70vw;
  height: 75vh;
  z-index: 4;
  display: block;
  position: absolute;
  top: 5vw;
  left: 15vw;

}
.verde-main{
  background-color: greenyellow;
  width: 70vw;
  height: 75vh;
  z-index: 4;
  display: block;
  position: absolute;
  top: 5vw;
  left: 15vw;

}
.azul-main{
  background-color: blue;
  width: 70vw;
  height: 75vh;
  z-index: 4;
  display: block;
  position: absolute;
  top: 5vw;
  left: 15vw;

}
.amarillo-main{
  background-color: yellow;
  width: 70vw;
  height: 75vh;
  z-index: 4;
  display: block;
  position: absolute;
  top: 5vw;
  left: 15vw;

}

